html { 
 margin: 0px; 
 padding: 0px; 
}

body { 
 margin: 0px; 
 padding: 5px 0px; 
 background-color: #fff; 
 color: #000;
 font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
 font-size: 11pt;
 direction: ltr;
 /* direction: rtl !important; */
}

hr { 
 background-color:#c8c5c2; 
 height: 1px;
 border: none;
 margin: 5px 0px; 
}

.button {
 display: flex;
 margin: 0px;
 padding: 0.3em 0em;
 border: 1px solid #fff;
 cursor: pointer;
 white-space: nowrap;
 -moz-user-select: none;
 user-select: none;
}

.button:hover {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.spacer {
 display: inline-block;
 text-align: center;
 width: 2em;
 order: 1;
}

.label {
 order: 2;
}

.tail {
 width: 2em;
 order: 3;
}

.autoload, .save-all, .load-all, .clear-all {}
.disabled { color: #888; cursor: not-allowed; }
